@import '../sass/common/variables';
@import '../sass/common/mixins';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700&display=swap');
@import '../sass/sections/portfolio';
@import '../sass/common/all';

body{
    margin:0;
    box-sizing: border-box;

}

/* menu desktop & mobile */

header {
    position: fixed;
    top:0;
    height: 80px;
    box-shadow: 0px 0px 25px rgba(127, 137, 161, 0.3);
    background-color: #ffffff;
    width: 100%;

        nav {
            padding: 20px 10%;
            display: flex;
            justify-content: space-between;
            align-items: center;

                .logo {
                        img {
                            height: 27px;

                        }

                        .menu-icon {
                            display: none;
                                    a {
                                        color: $menu-color;
                                        font-size: 27px;
                                    }
                    
                        }
                        .menu-icon:target #menu-overlay {
                            display: flex;
                        }
                }
                .menu {
                    font-family: $menu-font;
                    font-size: $menu-font-size;
                    font-weight: 500;
                    width: 550px;

                        ul {
                            padding: 0;
                            list-style: none;
                            display: flex;
                            justify-content: space-between;

                                li {
                                    
                                    a {
                                        color: $menu-color;
                                        text-decoration: none;
                                        
                                            &:hover {
                                            color: $menu-hover;
                                          }
                                        }                                                  
                                }
                        }
                }

                .menu-mobile {
                    background-color: rgba(19, 39, 57, 0.9);;
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    height: 100%;
                    width: 100%;
                    display: none;

                        .mobile {
                            background-color: rgba(19, 39, 57, 0.8);
                            height: 100%;
                            width: 220px;
                            position: fixed;
                            top: 0;
                            left: -220px;
                            z-index: 2;
                            padding-top: 25px;
                            padding-left: 0;
                            margin: 0;
                            list-style: none;
                            transition: all 0.5s;

                                li {
                                    padding: 10px 20px;

                                        a {
                                            color: #fff;
                                            font-family: 'Open Sans', sans-serif;
                                            font-weight: 500;
                                            line-height: 1.5;
                                            text-decoration: none;
                                        }

                                        a:hover {
                                            color: #007bff;
                                        }
                                }
                        }

                       .close {
                            position: absolute;
                            top: 19px;
                            right: 10%;
                                a {
                                    color: #fff;
                                    font-size: 30px;
                                }
                        } 
                }
                #menu-mobile:target {
                    display: block;
                } 
                #menu-mobile:target .mobile {
                    left: 0; 
                }
                #menu-mobile:target .close {
                    display: block;
                } 
        }                                  
}

@media (min-width: 968px) {
    .menu-mobile {
        display: none;
    }
}

@media (max-width: 968px) {

    header {

        nav {

            padding: 20px 10%;

                .logo {

                width: 100%;
                display: flex;
                justify-content: space-between;

                     .menu-icon {
                        display: flex;
                    }
                }
                .menu {
                    display: none;    
                }    
        }
    }
}

/* hero */

main{

.bg-home{
    background-color: #1445b3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    padding: 20px 10%;

    div{
        margin-right: 40px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p{
            margin:0;
            padding-bottom: 40px;
            font-family: "Montserrat", sans-serif;
            font-size: 48px;
            font-weight: 800;
            color: #ffffff;
            width: 450px;

            .underline{
                text-decoration: underline;
                color: #74b5fc;
                display: block;
            }

        }

        .button-home{
            display:flex;
            flex-direction: row;
            width: 300px;
            justify-content: space-between;
            height: auto;
            margin-bottom: 35px;
            

            .button-home-1{
                color: #ffffff;
                background: #007bff;
                border: 1px solid #007bff;
                border-radius: 20px;
                width: 160px;
                height: 43px;
                font-family: "Montserrat", sans-serif;
                font-size: 15px;
                font-weight: 900;
                text-align: center;

                a{
                    text-decoration: none;
                    color: #ffffff;

                }

                &:hover{
                    border: 2px solid #ffffff;
                    background: #1445b3;
            }
            }

            .button-home-2{
                border-radius: 20px;
                width: 160px;
                height: 43px;
                font-family: "Montserrat", sans-serif;
                font-size: 15px;
                font-weight: 900;
                text-align: center;
                background: #1445b3;
                color: #ffffff;
                border: 2px solid #ffffff;
                margin-right: -50px;

                a{
                    text-decoration: none;
                    color: #ffffff;
        
                }

                &:hover{
                    background: #007bff;
                    color: #ffffff;
                    border: 0px;

                 }
            }
        }    
    }

    .img-home{
        margin: 0;
        display: inline-block;
        position: relative;
    
        img{
           width: 55%;
           height: auto;
           position: absolute;
           right: 300px;
          
       }
    }


    }
    
}
