@import '../sass/common/variables';
@import '../sass/common/all';
@import '../sass/common/mixins';
@import '../sass/sections/menu';
@import '../sass/sections/header';
@import '../sass/sections/about';
@import '../sass/sections/why-choose-us';
@import '../sass/sections/services';
@import '../sass/sections/portfolio';
@import '../sass/sections/testimonials';
@import '../sass/sections/team';
@import '../sass/sections/clients';
@import '../sass/sections/contact';
@import '../sass/sections/footer';


@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

