body{
    margin:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
h1{
    
    font-family: 'Montserrat', sans-serif;
    color: $body-tit-color;
    text-align:center;
    font-size: 36px;
    font-weight:500;
}
