$montserrat-font: "Montserrat", sans-serif;
$open-font:'Open-sans', sans-serif;

$body-tit-color: #273c50; 
$body-sub-color: #556783; 

$desktop-box-shadow: 0px 0px 10px rgb(112, 112, 112);
$menu-mobile-bg-color-1: rgba(18, 40, 59, 0.9);
$menu-mobile-bg-color-2: rgba(17, 38, 56, 0.8);

/*
    los nombres de los colores deberian ser
    un poco mas humanos ($azul-oscuro, $azul-claro, $negro, etc)
*/
$color-ffffff: #ffffff;
$color-0047a2: #0047a2;
$color-477bff: #477bff;
$color-74b5fc: #74b5fc;
$color-007bff: #007bff;
$color-1445b3: #1445b3;
$color-444444: #444444;
$color-464748: #464748;
$color-283d50: #283d50;
$color-ecf5ff: #ecf5ff;
$color-000000: #000000;
$color-004a99: #004a99;
$color-00458f: #00458f;
$color-003b7a: #003b7a;
$color-bfddfe: #bfddfe;
$color-017bfe: #017bfe;
$color-999999: #999999;
$color-dddddd: #dddddd;
