/* MENU */

$menu-font: "Montserrat", sans-serif;
$menu-font-size: 14px;
$menu-font-weight: 400;
$menu-color: #0047a2;
$menu-bg-color: #ffffff;
$menu-hover: #477bff;

/* HEADER */

$header-color: #ffffff;
$header-underline-color: #74b5fc;
$header-button-bg-color: #017bfe;
$header-hover-button-bg-color: #1445b3;
$header-button-color: #ffffff;

/* ABOUT US */

$body-tit-color: #273c50; /* COLOR DE TITULO */
$body-sub-color: #556783; /* COLOR DE SUBTITULO */

$about-tit: #464748;
$about-text-color: #444444;

$about-icon-tit-color: #283d50;
$about-icon-color-text: #444444;
$about-icon-color: #017bfe;
$about-icon-bg-color: #ffffff;
$about-icon-bg-color-hover:  #017bfe;
$about-icon-color-hover:  #ffffff;


/* SERVICES */

$body-tit-color: #273c50; /* COLOR DE TITULO */
$body-sub-color: #556783; /* COLOR SUBTITULO */

$services-bg-color: #ecf5ff;
$services-card-bg-color: #ffffff;
$services-card-tit-color:  #464748;
$services-card-text-color:   #444444;
$services-icon-color-1: #ff689b;
$services-icon-color-2: #e9bf06; 
$services-icon-color-3: #3fcdc7;
$services-icon-color-4: #61d752;
$services-icon-color-5: #d6ff22;
$services-icon-color-6: #558aff;

/* WHY CHOOSE US? */

$why-bg-color: #004a99;
$why-color: #ffffff;

$why-bg-card: #00458f;
$why-icon-card-color: #bfddfe;
$why-tit-card: #ffffff;
$why-text-color: #d8eafe;
$why-bg-card-hover-color: #003b7a;

$why-numbers:  #ffffff;
$why-numbers-subtit: #bfddfe;

/* OUR PORTFOLIO */

$body-tit-color: #273c50; /* COLOR DE TITULO */
$open-font:'Open-sans', sans-serif;
$portfolio-button-color: #017bfe;
$portfolio-button-bg-color: #ecf5ff;
$portfolio-button-hover-color: #ecf5ff;
$portfolio-button-bg-hover-color: #017bfe;

/* TESTIMONIALS */

$body-tit-color: #273c50; /* COLOR DE TITULO */

$testimonials-bg-color: #ecf5ff;
$testimonials-text-color: #444444;
$testimonials-tit-color: #464748;
$testimonials-subtit-color:#999999;
$testimonials-slide-select-color: #007bff;
$testimonials-slide-nonselect-color: #dddddd;

/* TEAM */

$body-tit-color: #273c50; /* COLOR DE TITULO */
$body-sub-color: #556783; /* COLOR DE SUBTITULO */

$team-hover-color: #ffffff;
$team-hover-bg-color: #007bff;

/* OUR CLIENTS */

$body-tit-color: #273c50; /* COLOR DE TITULO */
$body-sub-color: #556783; /* COLOR DE SUBTITULO */

$clients-bg-color: #e6f0fb;
$clients-container-bg-color: #ffffff;
$clients-border-container-color: #d6eaff;

/* CONTACT US */

$body-tit-color: #273c50; /* COLOR DE TITULO */
$body-sub-color: #556783; /* COLOR DE SUBTITULO */

$contact-color-icon: #007bff;
$contact-color-text: #273c50; 
$contact-submit-bg-color: #007bff;
$contact-submit-color: #ffffff;
$contact-hover-submit-bg-color: #004a99;

/* FOOTER */

$footer-bg-color: #004a99;
$footer-color: #ffffff;
$footer-button-bg-color: #007bff;
$footer-button-color: #ffffff;
$footer-button-hover-bg-color: #004a99;

$copyright-bg-color: #00428a;
$copyright-color: #ffffff;








