$montserrat-font: "Montserrat", sans-serif;
$open-font:'Open-sans', sans-serif;

$menu-desktop-box-shadow: 0px 0px 10px rgb(112, 112, 112);
$menu-desktop-font-size: 14px;
$menu-desktop-font-weight: 400;
$menu-desktop-color: #0047a2;
$menu-bg-color: #ffffff;
$menu-desktop-hover: #477bff;

$menu-mobile-bg-color-1: rgba(18, 40, 59, 0.9);
$menu-mobile-bg-color-2: rgba(17, 38, 56, 0.8);
$menu-mobile-hover-color: #74b5fc;
$menu-mobile-color: #ffffff;
$menu-mobile-font-weight: 500;





$header-color: #ffffff;
$header-underline-color: #74b5fc;
$header-button-bg-color: #017bfe;
$header-hover-button-bg-color: #1445b3;
$header-button-color: #ffffff;

$body-tit-color: #273c50; 
$body-sub-color: #556783; 

$about-tit: #464748;
$about-text-color: #444444;

$about-icon-tit-color: #283d50;
$about-icon-color-text: #444444;
$about-icon-color: #017bfe;
$about-icon-bg-color: #ffffff;
$about-icon-bg-color-hover:  #017bfe;
$about-icon-color-hover:  #ffffff;



$body-tit-color: #273c50; 
$body-sub-color: #556783;

$services-bg-color: #ecf5ff;
$services-card-bg-color: #ffffff;
$services-card-tit-color:  #464748;
$services-card-text-color:   #444444;

$why-bg-color: #004a99;
$why-color: #ffffff;

$why-bg-card: #00458f;
$why-icon-card-color: #bfddfe;
$why-tit-card: #ffffff;
$why-text-color: #d8eafe;
$why-bg-card-hover-color: #003b7a;

$why-numbers:  #ffffff;
$why-numbers-subtit: #bfddfe;


$body-tit-color: #273c50; 
$portfolio-button-color: #017bfe;
$portfolio-button-bg-color: #ecf5ff;
$portfolio-button-hover-color: #ecf5ff;
$portfolio-button-bg-hover-color: #017bfe;



$body-tit-color: #273c50; 

$testimonials-bg-color: #ecf5ff;
$testimonials-text-color: #444444;
$testimonials-tit-color: #464748;
$testimonials-subtit-color:#999999;
$testimonials-slide-select-color: #007bff;
$testimonials-slide-nonselect-color: #dddddd;


$body-tit-color: #273c50; 
$body-sub-color: #556783; 

$team-hover-color: #ffffff;
$team-hover-bg-color: #007bff;

$body-tit-color: #273c50; 
$body-sub-color: #556783;

$clients-bg-color: #e6f0fb;
$clients-container-bg-color: #ffffff;
$clients-border-container-color: #d6eaff;

$body-tit-color: #273c50; 
$body-sub-color: #556783; 

$contact-color-icon: #007bff;
$contact-color-text: #273c50; 
$contact-submit-bg-color: #007bff;
$contact-submit-color: #ffffff;
$contact-hover-submit-bg-color: #004a99;

$footer-bg-color: #004a99;
$footer-color: #ffffff;
$footer-button-bg-color: #007bff;
$footer-button-color: #ffffff;
$footer-button-hover-bg-color: #004a99;

$copyright-bg-color: #00428a;
$copyright-color: #ffffff;








