@import '../common/variables';
@import '../common/mixins';


header {
    position: fixed;
    box-shadow: 0px 0px 10px rgb(112, 112, 112);
    background-color: #ffffff;
    top:0;
    height: 80px;
    width: 100%;
    z-index: 1000;

        nav {
            display: flex;
            align-content: center;
            justify-content: space-between;
            padding: 20px 7%;
            
                img {

                    height: 27px;

                    }

                    .menu-icon {

                                display: none;

                             a {
                                color: $menu-color;
                                 font-size: 27px;

                                }
                    
                        }

                .menu {

                    font-size: 14px;
                    font-weight: 500;
                    width: 630px;
                    font-family: "Montserrat", sans-serif;
                   
                        ul {
                            display: flex;
                            justify-content: space-between;
                            padding: 0;
                            list-style: none;
                            
                                 a {
                                    color: #0047a2;;
                                    text-decoration: none;
                                        
                                    &:hover {

                                        color: #477bff;

                                             }
                                    }                                                  
                            }

                        .dropdown{

                            display:inline-block;
                            position: relative;
    
                            ul{

                                display:none;
                                background-color: #fff;
                                font-size: 13px;
                                width: 150px;
                                height: 195px;
                                line-height: 40px;
                                box-shadow: 0px 0px 10px rgb(112, 112, 112);
                                padding-top: 10px;
                                padding-bottom:10px;
                                position: relative;
                                left: -15px;

                                .fa{

                                    right: -30px;
                                    position: absolute;
                                    top: 14px;
                                }
                                
                                a{
                                    margin-left: 20px;
                                    
                                }
                            }
    
                            &:hover {
                                cursor: pointer;
                                transition: 0.3s all ease-in;
    
    
                                ul{
                                    display: block;
                                    position: absolute;
                                   
                                }
                            }

                            .deepdropdown{

                                display:inline-block;
                                position: relative;

                                ul{
                                    display:none;
                                    background-color: #fff;
                                    font-size: 13px;
                                    width: 170px;
                                    height: 195px;
                                    line-height: 40px;
                                    left: 120px;
                                    right: 30px;
                                    box-shadow: 0px 0px 10px rgb(112, 112, 112);                                    top: 10px;
                                    position: relative;
                                }

                                &:hover {
                                    cursor: pointer;
        
        
                                    ul{
                                        display: block;
                                        position: absolute;
                                    }
                                }

                            }

                        }

                }

                .menu-mobile {
                    top: 0;
                    left: 0;
                    z-index: 1;
                    height: 200%;
                    width: 100%;
                    display: none;
                    background-color: rgba(18, 40, 59, 0.9);
                    position: fixed;
                    top: 0;
                    left: 0;
                    
                        .mobile {
                            background-color: rgba(17, 38, 56, 0.8);
                            padding-top: 25px;
                            padding-left: 0;
                            margin: 0;
                            list-style: none;
                            transition: 0.5s all ease-in;
                            overflow: auto;
                            height: 100%;
                            width: 280px;
                            position: fixed;
                            top: 0;
                            left: -260px;
                
                                li {
                                    margin:6%;
                                    margin-left: 26px;
                                    
                                        a {
                                            color: #fff;
                                            font-family: 'Open Sans', sans-serif;
                                            font-weight: 500;
                                            text-decoration: none;
                                        }

                                        a:hover {
                                            color: #74b5fc;
                                            transition: 0.5s all ease-in-out;
                                        }
                                }

                                .deepdropdownmobile{
                                    list-style: none;
                                    padding-left: 0;
                                    padding-bottom: 0;
                                    max-height: 0;
                                    overflow: hidden;
                                    transition: max-height 0.2s ease;
                                    z-index: 9;
                                    margin-bottom: -5px;

                                    li{
                                        padding-right: 0;
    
                                    }
                                  
                                }

                                .dropdownmobile{
                                    list-style: none;
                                    padding-left: 0;
                                    max-height: 0;
                                    overflow: hidden;
                                    transition: max-height 0.2s ease;
                                    z-index: 9;
                                    position: relative;
                                    bottom: -9px;
                                
                                }
                                
                                .checkbox{
                                    position: absolute;
                                    right: 17px;
                                    bottom:279px;
                                    display:none;
                                }

                                .checkbox-1{
                                    position:absolute;
                                    right: 17px;
                                    display: none;
                                }

                                #checkbox:checked + .label>.deepdropdownmobile{
                                    max-height: 244px;
                                    transition: max-height 0.2s ease;

                                }

                                #checkbox-1:checked + .label-1>.dropdownmobile{
                                    max-height: 429px;
                                    transition: max-height 0.2s ease;

                                }

                                .button {
                                    position: relative;
                                    left: 71px;
                                    font-size: 17px;
                                    color:#fff;
                                    bottom: 1px;
                                    font-weight: 700;


                                    &:hover{
                                        color: #74b5fc;
                                    }
                                }

                                .button-1{
                                    position: relative;
                                    color: #fff;
                                    font-size: 17px;
                                    font-weight: 700;
                                    left: 119px;

                                    &:hover{
                                        color: #74b5fc;
                                    }
                                }

                                
                        }

                       .close {
                            position: absolute;
                            top: 19px;
                            right: 10%;
                                a {
                                    color: #fff;
                                    font-size: 30px;
                                }
                        }    
                                               
                }
                #menu-mobile:target {
                    display: block;
                } 
                #menu-mobile:target .mobile {
                    left: 0; 
                }
                #menu-mobile:target .close {
                    display: block;
                } 
          
       }
      
}


@media (min-width: 993px) {
    .menu-mobile {
        display: none;
    }
} 

@media (max-width: 992px) {

    nav {
         padding: 20px 10%;

         .logo {

            width: 100%;
            display: flex;
            justify-content: space-between;

            .menu-icon {
            display: flex;
            
                    }
            }
                .menu {
                    display: none;    
                }    
        }
    
}

