@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700&display=swap');

#services{

    background-color: $services-bg-color;
    padding-top: 30px;
    padding-bottom: 70px;
    font-family: "Open Sans", sans-serif;
    padding: 20px 7%;
    height: 100%;

    
    .subtit{
        width: 45%;
        height: 60px;
        margin: auto;
        font-size: 15px;
        font-weight: 400;
        color: #556877;
        line-height: 22px; 
        margin-top: -10px;
        text-align: center;
        letter-spacing: 0.1px;
        padding-bottom: 40px;
    }


    .cards{

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        align-content: center;


        .card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 300px;
            height: auto;
            border-radius: 10px;
            background-color: #ffffff;
            margin: 20px;
            padding: 20px;
        
    
            .card-icon{
                display:flex;
                flex-direction: column;
                justify-content: center;
                position: absolute;
                
                img{
                    width: 56px;
                    height: auto; 
                
                }
             }
    
             
             .tit-card{
                
                font-family: "Montserrat", sans-serif;
                font-weight: 800;
                font-size: 18px;
                color: #000000;
                text-decoration: none;
                margin-left: 75px;
    
                &:hover{
                    color: #007bff;
                    transition: all 0.3s;
                }
    
            }
    
            .card-text{
                
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                color: #444444;
                margin-left: 75px;
                margin-top: -10px;
            }
    
            &:hover{
                transform: translateY(-7px);
                transition: all 0.3s ease-in-out;
            }
            
            
        }

       

    }

    @include tablet{
        .subtit{
            width: 60%;
        }
        padding: 20px 0%;

    }

    @include phone{

        .subtit{
            width: 90%;
        }

        padding: 20px 10%;

        .cards{
            
            .card{
                width: 100%;
            }
        }

        

    }

   
}
