@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700&display=swap');

#services{

    background-color: $services-bg-color;
    padding-top: 30px;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
}
    .subtit{
        width: 60%;
        height: 60px;
        margin: auto;
        font-size: 15px;
        font-weight: 400;
        color: #556877;
        line-height: 22px; 
        margin-top: -10px;
        text-align: center;
        letter-spacing: 0.1px;
    }

    .container-cards{

        width: 100%;
        
    

    }



    .icon-1{
        height: 60px;
        width: auto;
        position: relative;
    }