#testimonials{
    background-color: $testimonials-bg-color;
}

  .slider-container {
    position:relative;
    overflow: hidden;
    box-sizing:border-box;
    width:100%;
    height:400px;
    max-height:400px;
    margin:auto;
    padding-left:15px;
    padding-right:15px;
    display: block;
     }
  
  .sliders {
    width: 2130px;
    height: 300px;
    transition: transform 600ms ease-in-out;
    }
  
  .slider-testimonials{
    width: 400px;
    height: 100%;
    font-size: 20px;
    display:inline-block;
    text-align:center;
    box-sizing: border-box;
    margin-left:10px;
    margin-right:10px;
    .slider-name{
      font-size:20px;
      font-family: $open-font;
      font-weight:700;
      color: #111;
      margin-bottom:5px;
      } 
    .slider-charge{
      font-size:14px;
      color:#999;
      font-family: $menu-font;
      margin-top:0px;
      margin-bottom:15px;
      }
    .slider-info{
      font-style: italic;
      font-family:$open-font;
      color:#444;
      font-size:16px;
    }

    }
.test-img{
  width:120px;
  border: 4px solid #fff;
  border-radius: 50%;
}

  #radio1{
      display: none;
      &:checked{
        &~.sliders{
          transform: translateX(0);
        }
        &+ .btn{
          background-color: $testimonials-slide-select-color;
        }
    }
  }

  #radio2{
    display: none;
    &:checked{
      &~.sliders{
        transform: translateX(-20%);
      }
      &+ .btn{
        background-color: $testimonials-slide-select-color;
      }
  }
}
  
#radio3{
    display: none;
    &:checked{
        &~.sliders{
          transform: translateX(-40%);
        }
      &+ .btn{
        background-color: $testimonials-slide-select-color;
      }
  }
}

#radio4{
    display: none;
    &:checked{
        &~.sliders{
          transform: translateX(-60%);
      }
      &+ .btn{
        background-color: $testimonials-slide-select-color;;
      }
  }
}

#radio5{
    display: none;
    &:checked{
        &~.sliders{
          transform: translateX(-80%);
        }
        &+ .btn{
          background-color: $testimonials-slide-select-color;
        }
  }
}
    
  .testimonials-nav {
    text-align: center;
    background: $testimonials-bg-color;

  }

  .btn {
    background-color: $testimonials-slide-nonselect-color;
    width:12px;
    height: 12px;
    border-radius:50%;
    margin-left:2px;
    margin-right:2px;
    }

    #botones-slider{
      display:flex;
      justify-content: center;
      margin-top:30px;
    }
