#testimonials{
    background-color: $testimonials-bg-color;
}

  .slider-container {
    overflow: hidden;
    box-sizing:border-box;
    width:80%;
    height:300px;
    margin:auto;
  }
  
  .sliders {
    width: 2900px;
    height: inherit;
    transition: transform 600ms ease-in-out;
    }
  
  .slider-testimonials{
    width: 550px;
    height: 300px;
    font-size: 20px;
    display:inline-block;
    text-align:center;
    padding-left:25px;
    padding-right:25px;
    box-sizing: border-box;
    }

    .btn {
      background-color: $testimonials-slide-nonselect-color;
      width:12px;
      height: 12px;
      border-radius:50%;
      display: inline-block;
      }

  #radio1{
      display:block;
      background-color:grey;
      &:checked{
        &~.sliders{
            transform: translateX(0);
        }
        +#but1{
          background-color: red;
        }
    }
  }

  #radio2{
    display:block;
    &:checked{
        &~.sliders{
          transform: translateX(-550px);
      }
      &+ .btn{
        background-color: $testimonials-slide-select-color;
      }
  }
}
  
#radio3{
    display:block;
    &:checked{
        &~.sliders{
          transform: translateX(-1100px);
        }
      & +.btn{
        background-color: $testimonials-slide-select-color;
      }
  }
}

#radio4{
    display:block;
    &:checked{
        &~.sliders{
          transform: translateX(-1650px);
      }
      &+ .btn{
        background-color: red;
      }
  }
}

#radio5{
    display:block;
    &:checked{
        &~.sliders{
          transform: translateX(-2200px);
        }
        &.btn{
          background-color: $testimonials-slide-select-color;
        }
  }
}
    
  .testimonials-nav {
    text-align: center;
    background: $testimonials-bg-color;

  }

