#testimonials{
    background-color: $testimonials-bg-color;
    box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.1);
    display:flex;
    justify-content: center;
    @include desktop{
      height:500px;
    }
}
#test-cont{
  padding-top:60px;
  padding-bottom:60px;
}

  .slider-container {
    overflow: hidden;
    box-sizing:border-box;
    width:300px;
    height:400px;
    margin-left:15px;
    margin-right:15px;
    display: block;
    @include tablet{
      width:700px;
      height:300px;
      margin-left:30px;
      margin-right:30px;
    }
    @include desktop{
      width:900px;
      margin-left:100px;
      margin-right:100px;
    }
     }
  
  .sliders {
    width: 500%;
    height: 300px;
    display:inline-flex;
    transition: transform 600ms ease-in-out;
    box-sizing: border-box;
    align-items: center;
    @include tablet{
      height:200px;
    }
    @include desktop{
      display:flex;
      height:200px;
    }
    }
  
  .test-info{
    @include tablet{
      width:75%;
    }
    @include desktop{
      width:80%;
      margin-left:20px;
    }
  }
  .slider-testimonials{
    width: 100%;
    height: 100%;
    font-size: 20px;
    display:inline-block;
    text-align:center;
    box-sizing: border-box;
    margin-left:10px;
    margin-right:10px;
      @include tablet{
        display:flex;
        height:200px;
        justify-content: space-between;
        text-align:left;
      }
      @include desktop{
        display:flex;
        height:150px;
        text-align:left;
      }

    .slider-name{
      font-size:20px;
      font-family: $open-font;
      font-weight:700;
      color: #111;
      margin-bottom:5px;
      } 
    .slider-charge{
      font-size:14px;
      color:#999;
      font-family: $menu-font;
      margin-top:0px;
      margin-bottom:15px;
      }
    .slider-info{
      font-style: italic;
      font-family:$open-font;
      color:#444;
      font-size:16px;
      
    }

    }
.test-img{
  width:120px;
  height:142px;
  border: 4px solid #fff;
  border-radius: 50%;
}

  #radio1{
      display: none;
      &:checked{
        &~.sliders{
          transform: translateX(0);
        }
        &#rad1 {
          background-color: $testimonials-slide-select-color;
        }
    }
  }

  #radio2{
    display: none;
    &:checked{
      &~.sliders{
        transform: translateX(-20%);
      }
      #rad2{
        background-color: $testimonials-slide-select-color;
      }
  }
}
  
#radio3{
    display: none;
    &:checked{
        &~.sliders{
          transform: translateX(-40%);
        }
      & #rad3{
        background-color: $testimonials-slide-select-color;
      }
  }
}

#radio4{
    display: none;
    &:checked{
        &~.sliders{
          transform: translateX(-60%);
      }
      &+ .btn{
        background-color: $testimonials-slide-select-color;;
      }
  }
}

#radio5{
    display: none;
    &:checked{
        &~.sliders{
          transform: translateX(-80%);
        }
        &+ .btn{
          background-color: $testimonials-slide-select-color;
        }
  }
}
    
  .testimonials-nav {
    text-align: center;
    background: $testimonials-bg-color;

  }

  .btn {
    background-color: $testimonials-slide-nonselect-color;
    width:12px;
    height: 12px;
    border-radius:50%;
    margin-left:2px;
    margin-right:2px;
    }

    #botones-slider{
      display:flex;
      justify-content: center;
      margin-top:60px;
    }
