/* MENU */
/* HEADER */
/* ABOUT US */
/* COLOR DE TITULO */
/* COLOR DE SUBTITULO */
/* SERVICES */
/* COLOR DE TITULO */
/* COLOR SUBTITULO */
/* WHY CHOOSE US? */
/* OUR PORTFOLIO */
/* COLOR DE TITULO */
/* TESTIMONIALS */
/* COLOR DE TITULO */
/* TEAM */
/* COLOR DE TITULO */
/* COLOR DE SUBTITULO */
/* OUR CLIENTS */
/* COLOR DE TITULO */
/* COLOR DE SUBTITULO */
/* CONTACT US */
/* COLOR DE TITULO */
/* COLOR DE SUBTITULO */
/* FOOTER */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700&display=swap");
body {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #273c50;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
}

/* MENU */
/* HEADER */
/* ABOUT US */
/* COLOR DE TITULO */
/* COLOR DE SUBTITULO */
/* SERVICES */
/* COLOR DE TITULO */
/* COLOR SUBTITULO */
/* WHY CHOOSE US? */
/* OUR PORTFOLIO */
/* COLOR DE TITULO */
/* TESTIMONIALS */
/* COLOR DE TITULO */
/* TEAM */
/* COLOR DE TITULO */
/* COLOR DE SUBTITULO */
/* OUR CLIENTS */
/* COLOR DE TITULO */
/* COLOR DE SUBTITULO */
/* CONTACT US */
/* COLOR DE TITULO */
/* COLOR DE SUBTITULO */
/* FOOTER */
header {
  position: fixed;
  top: 0;
  height: 80px;
  box-shadow: 0px 0px 25px rgba(127, 137, 161, 0.3);
  background-color: #ffffff;
  width: 100%;
  z-index: 1000;
}
header nav {
  padding: 20px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .logo img {
  height: 27px;
}
header nav .logo .menu-icon {
  display: none;
}
header nav .logo .menu-icon a {
  color: #0047a2;
  font-size: 27px;
}
header nav .logo .menu-icon:target #menu-overlay {
  display: flex;
}
header nav .menu {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 550px;
}
header nav .menu ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
header nav .menu ul li a {
  color: #0047a2;
  text-decoration: none;
}
header nav .menu ul li a:hover {
  color: #477bff;
}
header nav .menu-mobile {
  background-color: rgba(19, 39, 57, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: none;
}
header nav .menu-mobile .mobile {
  background-color: rgba(19, 39, 57, 0.8);
  height: 100%;
  width: 260px;
  position: fixed;
  top: 0;
  left: -220px;
  z-index: 2;
  padding-top: 25px;
  padding-left: 0;
  margin: 0;
  list-style: none;
  transition: all 0.5s;
}
header nav .menu-mobile .mobile li {
  padding: 10px 20px;
}
header nav .menu-mobile .mobile li a {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
}
header nav .menu-mobile .mobile li a:hover {
  color: #007bff;
}
header nav .menu-mobile .mobile .icon-down {
  color: #ffffff;
  font-weight: 1000;
  font-size: 17px;
  position: absolute;
  right: 15px;
  top: 256px;
}
header nav .menu-mobile .close {
  position: absolute;
  top: 19px;
  right: 10%;
}
header nav .menu-mobile .close a {
  color: #fff;
  font-size: 30px;
}
header nav #menu-mobile:target {
  display: block;
}
header nav #menu-mobile:target .mobile {
  left: 0;
}
header nav #menu-mobile:target .close {
  display: block;
}

@media (min-width: 993px) {
  .menu-mobile {
    display: none;
  }
}
/* DESKTOP */
@media (max-width: 992px) {
  header nav {
    padding: 20px 10%;
  }
  header nav .logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  header nav .logo .menu-icon {
    display: flex;
  }
  header nav .menu {
    display: none;
  }
}
/* MENU */
/* HEADER */
/* ABOUT US */
/* COLOR DE TITULO */
/* COLOR DE SUBTITULO */
/* SERVICES */
/* COLOR DE TITULO */
/* COLOR SUBTITULO */
/* WHY CHOOSE US? */
/* OUR PORTFOLIO */
/* COLOR DE TITULO */
/* TESTIMONIALS */
/* COLOR DE TITULO */
/* TEAM */
/* COLOR DE TITULO */
/* COLOR DE SUBTITULO */
/* OUR CLIENTS */
/* COLOR DE TITULO */
/* COLOR DE SUBTITULO */
/* CONTACT US */
/* COLOR DE TITULO */
/* COLOR DE SUBTITULO */
/* FOOTER */
main .bg-home {
  background-image: url(../img/intro-bg.png);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  padding: 20px 10%;
  background-repeat: no-repeat;
  background-size: 100% 621px;
}
main .bg-home div {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .bg-home div p {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: #ffffff;
  width: 450px;
  z-index: 100;
  padding-left: 28px;
}
main .bg-home div p .underline {
  text-decoration: underline;
  color: #74b5fc;
  display: block;
}
main .bg-home div .button-home {
  display: flex;
  flex-direction: row;
  width: 380px;
  justify-content: space-between;
  height: auto;
  margin-left: 30px;
}
main .bg-home div .button-home .button-home-1 {
  color: #ffffff;
  background: #007bff;
  border: 1px solid #007bff;
  border-radius: 20px;
  width: 180px;
  height: 43px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
}
main .bg-home div .button-home .button-home-1 a {
  text-decoration: none;
  color: #ffffff;
}
main .bg-home div .button-home .button-home-1:hover {
  border: 2px solid #ffffff;
  background: #1445b3;
  transition: 0.5s all ease-in-out;
}
main .bg-home div .button-home .button-home-2 {
  border-radius: 20px;
  width: 180px;
  height: 43px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  background: #1445b3;
  color: #ffffff;
  border: 2px solid #ffffff;
}
main .bg-home div .button-home .button-home-2 a {
  text-decoration: none;
  color: #ffffff;
}
main .bg-home div .button-home .button-home-2:hover {
  background: #007bff;
  color: #ffffff;
  border: 0px;
  transition: 0.5s all ease-in-out;
}
main .bg-home .img-home {
  margin: 0;
  display: flex;
  justify-content: center;
  margin-top: 63px;
}
main .bg-home .img-home img {
  width: 550px;
  height: auto;
}

@media (min-width: 1024px) {
  main .bg-home {
    padding: 10px 5%;
  }

  /* DESKTOP */
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .bg-home {
    display: flex;
    flex-direction: column-reverse;
    background-size: 100% 697px;
    background-repeat: no-repeat;
    transform: translateY(40px);
    padding: 41px 0 73px 0;
  }
  main .bg-home div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
  main .bg-home div p {
    text-align: center;
    margin-top: 0px;
    padding-left: 0px;
  }
  main .bg-home .img-home {
    display: flex;
    align-items: center;
    height: auto;
  }
  main .bg-home .img-home img {
    width: 450px;
    height: auto;
  }
  main .bg-home .button-home {
    margin-left: 0px;
  }
}
@media (max-width: 767px) {
  main .bg-home {
    display: flex;
    flex-direction: column-reverse;
    transform: translateY(74px);
    padding: 41px 0 73px 0;
    height: 547px;
  }
  main .bg-home div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-bottom: 23px;
  }
  main .bg-home div p {
    text-align: center;
    font-size: 36px;
    padding-bottom: -6px;
    justify-content: center;
    margin-left: 0;
  }
  main .bg-home div .button-home {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 0px;
  }
  main .bg-home div .button-home button {
    margin: 5px;
  }
  main .bg-home div .button-home .button-home-2 {
    margin-right: 0px;
  }
  main .bg-home .img-home {
    display: flex;
    align-items: center;
    margin-top: 120px;
    margin-right: 0;
    height: auto;
  }
  main .bg-home .img-home img {
    width: 400px;
    height: auto;
  }
}
/* PHONE*/
#about {
  padding-top: 30px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about .subtit {
  width: 50%;
}

#why-choose-us {
  background-color: #004a99;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 70px;
}
#why-choose-us .why-tit h1 {
  color: #ffffff;
}
#why-choose-us .why-subtit {
  color: #ffffff;
  width: 45%;
  height: 60px;
  margin: auto;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin-top: -10px;
  text-align: center;
  letter-spacing: 0.1px;
  padding-bottom: 40px;
  font-family: "Open Sans";
}
#why-choose-us .why-container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-content: center;
}
#why-choose-us .why-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  height: 100%;
  border-radius: 10px;
  background-color: #00458f;
  margin: auto;
  text-align: center;
}
#why-choose-us .why-card .why-icon {
  font-size: 50px;
  color: #bfddfe;
}
#why-choose-us .why-card .why-card-tit {
  font-family: "Montserrat";
  font-size: 20px;
}
#why-choose-us .why-card .why-card-subtit {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 20px;
}
#why-choose-us .why-card .why-anchor {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
}
#why-choose-us .data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  align-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
#why-choose-us .data-container .why-num {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
}
#why-choose-us .data-container .why-data-tit {
  font-size: 15px;
}

#services {
  background-color: #ecf5ff;
  padding-top: 30px;
  padding-bottom: 70px;
  font-family: "Open Sans", sans-serif;
}
#services .subtit {
  width: 45%;
  height: 60px;
  margin: auto;
  font-size: 15px;
  font-weight: 400;
  color: #556877;
  line-height: 22px;
  margin-top: -10px;
  text-align: center;
  letter-spacing: 0.1px;
  padding-bottom: 40px;
}
#services .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-content: center;
}
#services .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: auto;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
}
#services .card .card-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}
#services .card .card-icon img {
  width: 56px;
  height: auto;
}
#services .card .tit-card {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  margin-left: 75px;
}
#services .card .tit-card:hover {
  color: #007bff;
  transition: all 0.3s;
}
#services .card .card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #444444;
  margin-left: 75px;
  margin-top: -10px;
}
#services .card:hover {
  transform: translateY(-7px);
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 960px) {
  .cards {
    width: 100%;
  }
}
#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-filter {
  background-color: #ecf5ff;
  width: 65px;
  border-radius: 20px;
  text-align: center;
  height: 33px;
  line-height: 33px;
}
.portfolio-filter:hover {
  background-color: #017bfe;
}

#portfolio-menu {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #portfolio-menu {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  #portfolio-menu {
    width: 30%;
  }
}

.portfolio-menu-anchor {
  text-decoration: none;
  font-family: "Open-sans", sans-serif;
  color: #017bfe;
  font-weight: 100;
  font-size: 12px;
}
.portfolio-menu-anchor:hover {
  color: #fff;
}

/* PRUEBA DE BRANCH */

/*# sourceMappingURL=styles.css.map */
