@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");
body {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #273c50;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
}

header {
  position: fixed;
  box-shadow: 0px 0px 10px #707070;
  background-color: #ffffff;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 1000;
}
header nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 20px 7%;
}
header nav img {
  height: 27px;
}
header nav .menu-icon {
  display: none;
}
header nav .menu-icon a {
  color: #0047a2;
  font-size: 27px;
}
header nav .menu-mobile {
  top: 0;
  left: 0;
  z-index: 1;
  height: 200%;
  width: 100%;
  visibility: hidden;
  background-color: rgba(18, 40, 59, 0.9);
  position: fixed;
  top: 0;
  left: 0;
}
header nav .menu-mobile .mobile {
  background-color: rgba(17, 38, 56, 0.8);
  padding-left: 0;
  margin: 0;
  list-style: none;
  overflow: auto;
  height: 100%;
  width: 280px;
  position: fixed;
  top: 0;
  left: -260px;
  transition: left 0.6s ease;
}
header nav .menu-mobile .mobile li {
  margin: 6%;
  margin-left: 26px;
  padding: 2px;
}
header nav .menu-mobile .mobile li a {
  color: #ffffff;
  font-family: "Open-sans", sans-serif;
  font-weight: 500;
  text-decoration: none;
}
header nav .menu-mobile .mobile li a:hover {
  color: #74b5fc;
  transition: 0.5s all ease-in-out;
}
header nav .menu-mobile .mobile .deepdropdownmobile {
  list-style: none;
  padding-left: 0;
  padding-bottom: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
  z-index: 9;
  margin-bottom: -5px;
}
header nav .menu-mobile .mobile .deepdropdownmobile li {
  padding-right: 0;
}
header nav .menu-mobile .mobile .dropdownmobile {
  list-style: none;
  padding-left: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
  z-index: 9;
  position: relative;
  bottom: -9px;
}
header nav .menu-mobile .mobile #deepdropdown-mobile {
  position: absolute;
  right: 17px;
  bottom: 279px;
  display: none;
}
header nav .menu-mobile .mobile #dropdown-mobile {
  position: absolute;
  right: 200px;
  display: none;
}
header nav .menu-mobile .mobile #deepdropdown-mobile:checked + .label-deep > .deepdropdownmobile {
  max-height: 244px;
  transition: max-height 0.6s ease;
}
header nav .menu-mobile .mobile #dropdown-mobile:checked + .label-drop > .dropdownmobile {
  max-height: 429px;
  transition: max-height 0.6s ease;
}
header nav .menu-mobile .mobile .icon-deep {
  position: relative;
  left: 77px;
  font-size: 17px;
  color: #ffffff;
  bottom: 1px;
  font-weight: 700;
}
header nav .menu-mobile .mobile .icon-deep:hover {
  color: #74b5fc;
}
header nav .menu-mobile .mobile .icon-drop {
  position: relative;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  left: 119px;
}
header nav .menu-mobile .mobile .icon-drop:hover {
  color: #74b5fc;
}
header nav .menu-mobile .close {
  position: absolute;
  top: 19px;
  right: 7%;
}
header nav .menu-mobile .close a {
  color: #ffffff;
  font-size: 30px;
}
header nav #menu-mobile:target {
  visibility: visible;
  opacity: 1;
  transition: left 0.6s ease;
}
header nav #menu-mobile:target .mobile {
  left: 0;
  transition: left 0.6s ease;
}
header nav #menu-mobile:target .close {
  display: block;
}
header nav .menu {
  font-size: 14px;
  font-weight: 500;
  width: 630px;
  font-family: "Montserrat", sans-serif;
}
header nav .menu ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}
header nav .menu ul a {
  color: #0047a2;
  text-decoration: none;
}
header nav .menu ul a:hover {
  color: #477bff;
}
header nav .menu .dropdown {
  display: inline-block;
  position: relative;
}
header nav .menu .dropdown ul {
  display: none;
  background-color: #ffffff;
  font-size: 13px;
  width: 150px;
  height: 195px;
  line-height: 40px;
  box-shadow: 0px 0px 10px #707070;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  left: -15px;
}
header nav .menu .dropdown ul .fa {
  right: -30px;
  position: absolute;
  top: 14px;
}
header nav .menu .dropdown ul a {
  margin-left: 20px;
}
header nav .menu .dropdown:hover {
  cursor: pointer;
  transition: 0.3s all ease-in;
}
header nav .menu .dropdown:hover ul {
  display: block;
  position: absolute;
}
header nav .menu .dropdown .deepdropdown {
  display: inline-block;
  position: relative;
}
header nav .menu .dropdown .deepdropdown ul {
  display: none;
  background-color: #ffffff;
  font-size: 13px;
  width: 170px;
  height: 195px;
  line-height: 40px;
  left: 120px;
  right: 30px;
  box-shadow: 0px 0px 10px #707070;
  top: 10px;
  position: relative;
}
header nav .menu .dropdown .deepdropdown:hover {
  cursor: pointer;
}
header nav .menu .dropdown .deepdropdown:hover ul {
  display: block;
  position: absolute;
}

@media (min-width: 993px) {
  .menu-mobile {
    display: none;
  }
}
@media (max-width: 992px) {
  nav {
    padding: 20px 10%;
  }
  nav .nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  nav .nav-bar .menu-icon {
    display: flex;
  }
  nav .menu {
    display: none;
  }
}
.bg-home {
  background-image: url(../img/intro-bg.png);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  background-repeat: no-repeat;
  background-size: 100% 621px;
}
.bg-home .img-home {
  margin: 0;
  display: flex;
  justify-content: center;
  margin-top: 63px;
}
.bg-home .img-home img {
  max-width: 100%;
}
.bg-home div {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bg-home div p {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: #ffffff;
  width: 450px;
  z-index: 100;
  padding-left: 28px;
}
.bg-home div p .underline {
  text-decoration: underline;
  color: #74b5fc;
  display: block;
}
.bg-home div .button-home {
  width: 380px;
  height: auto;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bg-home div .button-home .button-home-1 {
  color: #ffffff;
  background: #007bff;
  border: 1px solid #007bff;
  border-radius: 20px;
  width: 180px;
  height: 43px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
}
.bg-home div .button-home .button-home-1 a {
  text-decoration: none;
  color: #ffffff;
}
.bg-home div .button-home .button-home-1:hover {
  border: 2px solid #ffffff;
  background: #1445b3;
  transition: 0.5s all ease-in-out;
}
.bg-home div .button-home .button-home-2 {
  border-radius: 20px;
  width: 180px;
  height: 43px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  background: #1445b3;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.bg-home div .button-home .button-home-2 a {
  text-decoration: none;
  color: #ffffff;
}
.bg-home div .button-home .button-home-2:hover {
  background: #007bff;
  color: #ffffff;
  border: 0px;
  transition: 0.5s all ease-in-out;
}

@media (min-width: 1024px) {
  .bg-home {
    padding: 10px 5%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .bg-home {
    display: flex;
    flex-direction: column-reverse;
    background-size: 100% 697px;
    background-repeat: no-repeat;
    transform: translateY(61px);
    padding: 41px 0 73px 0;
  }
  .bg-home div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
  .bg-home div p {
    text-align: center;
    margin-top: 0px;
    padding-left: 0px;
  }
  .bg-home .img-home {
    display: flex;
    align-items: center;
    height: auto;
  }
  .bg-home .img-home img {
    width: 450px;
    height: auto;
  }
  .bg-home .button-home {
    margin-left: 0px;
  }
}
@media (max-width: 767px) {
  .bg-home {
    display: flex;
    flex-direction: column-reverse;
    transform: translateY(61px);
    padding: 41px 0 73px 0;
    height: 547px;
    width: 100%;
  }
  .bg-home div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-bottom: 23px;
  }
  .bg-home div p {
    text-align: center;
    font-size: 36px;
    padding-bottom: -6px;
    justify-content: center;
    margin-left: 0;
  }
  .bg-home div .button-home {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 0px;
  }
  .bg-home div .button-home button {
    margin: 5px;
  }
  .bg-home div .button-home .button-home-2 {
    margin-right: 0px;
  }
  .bg-home .img-home {
    display: flex;
    align-items: center;
    margin-top: 120px;
    margin-right: 0;
    height: auto;
  }
  .bg-home .img-home img {
    width: 400px;
    height: auto;
  }
}
#about {
  padding: 20px 7%;
}
#about .about-subtit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open-sans", sans-serif;
}
#about .about-subtit p {
  width: 45%;
  height: 60px;
  margin: auto;
  font-size: 14px;
  font-weight: 400;
  color: #556783;
  line-height: 22px;
  margin-top: -10px;
  text-align: center;
  letter-spacing: 0.1px;
  padding-bottom: 40px;
}
#about .block-superior {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
#about .block-superior .about-1st-part {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: "Open-sans", sans-serif;
}
#about .block-superior .about-1st-part p {
  font-size: 16px;
  font-weight: 400;
  color: #444444;
  line-height: 25px;
}
#about .block-superior .about-1st-part .item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#about .block-superior .about-1st-part .item .item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
#about .block-superior .about-1st-part .item .item-icon i {
  color: #007bff;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  border: 2px solid #007bff;
  transition: 0.3s all ease-in;
  font-size: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 61px;
}
#about .block-superior .about-1st-part .item .item-icon i:hover {
  background: #007bff;
  color: #ffffff;
}
#about .block-superior .about-1st-part .item .item-txt {
  padding-left: 18px;
}
#about .block-superior .about-1st-part .item .item-txt .item-tit {
  text-decoration: none;
  color: #283d50;
  font-family: "Montserrat", sans-serif;
}
#about .block-superior .about-1st-part .item .item-txt .item-paragraph {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #444444;
}
#about .block-superior .about-1st-part .item .item-txt .item-paragraph article {
  margin-top: -17px;
}
#about .middle-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 53px;
}
#about .middle-block .about-2nd-part {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 30px;
}
#about .middle-block .about-2nd-part .about-2nd-tit {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-weight: 400;
  color: #464748;
}
#about .middle-block .about-2nd-part .about-2nd-tit h4 {
  margin-bottom: 0px;
}
#about .middle-block .about-2nd-part p {
  font-size: 16px;
  font-weight: 400;
  color: #444444;
  line-height: 25px;
  font-family: "Open-sans", sans-serif;
}
#about .final-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 53px;
  padding-bottom: 40px;
}
#about .final-block .about-third-part {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 30px;
}
#about .final-block .about-third-part .about-3rd-tit {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-weight: 400;
  color: #464748;
}
#about .final-block .about-third-part .about-3rd-tit h4 {
  margin-bottom: 0px;
}
#about .final-block .about-third-part p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
  color: #464748;
  line-height: 25px;
  font-family: "Open-sans", sans-serif;
}
#about .img-about {
  width: 50%;
}
#about .img-about img {
  width: 100%;
  z-index: 1000;
}
@media (min-width: 1024px) {
  #about .block-superior {
    align-items: center;
  }
  #about .middle-block {
    align-items: flex-start;
  }
  #about .middle-block .img-about {
    padding-top: 31px;
  }
  #about .final-block {
    align-items: center;
    padding-top: 20px;
  }
  #about .final-block .img-about {
    padding-top: 31px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #about .about-subtit p {
    width: 70%;
  }
  #about .block-superior {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  #about .block-superior .img-about {
    width: 90%;
  }
  #about .block-superior .about-1st-part {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding-left: 0px;
  }
  #about .middle-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #about .middle-block .img-about {
    width: 90%;
  }
  #about .middle-block .about-2nd-part {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding-left: 0px;
  }
  #about .final-block {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  #about .final-block .img-about {
    width: 90%;
  }
  #about .final-block .about-third-part {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding-right: 0px;
  }
}
@media (max-width: 767px) {
  #about .about-subtit p {
    width: 90%;
  }
  #about .block-superior {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  #about .block-superior .img-about {
    width: 85%;
  }
  #about .block-superior .about-1st-part {
    display: flex;
    flex-direction: column;
    width: 102%;
    padding-left: 0px;
  }
  #about .middle-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #about .middle-block .img-about {
    width: 85%;
  }
  #about .middle-block .about-2nd-part {
    display: flex;
    flex-direction: column;
    width: 102%;
    padding-left: 0px;
  }
  #about .final-block {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  #about .final-block .img-about {
    width: 85%;
  }
  #about .final-block .about-third-part {
    display: flex;
    flex-direction: column;
    width: 102%;
    padding-left: 25px;
  }
}

#why-choose-us {
  background-color: #004a99;
  color: #ffffff;
  padding: 20px 7%;
}
#why-choose-us .why-tit h1 {
  color: #ffffff;
}
#why-choose-us .why-subtit {
  color: #ffffff;
  width: 50%;
  height: 60px;
  margin: auto;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin-top: -10px;
  text-align: center;
  letter-spacing: 0.1px;
  padding-bottom: 40px;
  font-family: "Open-sans", sans-serif;
}
#why-choose-us .why-container-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#why-choose-us .why-container-cards .why-card {
  background-color: #00458f;
  height: 295px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px;
  transition: 0.3s all ease-in;
}
#why-choose-us .why-container-cards .why-card .why-icon {
  color: #bfddfe;
  font-size: 50px;
}
#why-choose-us .why-container-cards .why-card .why-card-txt {
  padding: 4%;
}
#why-choose-us .why-container-cards .why-card .why-card-txt .why-card-tit {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
}
#why-choose-us .why-container-cards .why-card .why-card-txt .why-card-tit h3 {
  margin-top: 0px;
  margin-bottom: 15px;
}
#why-choose-us .why-container-cards .why-card .why-card-txt .why-card-subtit {
  display: flex;
  align-items: center;
  font-family: "Open-sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #bfddfe;
}
#why-choose-us .why-container-cards .why-card .why-card-txt .why-card-subtit p {
  margin-top: 0px;
  margin-bottom: 30px;
}
#why-choose-us .why-container-cards .why-card .why-card-txt .why-anchor {
  text-decoration: none;
  color: #ffffff;
  font-family: "Open-sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
#why-choose-us .why-container-cards .why-card:hover {
  background-color: #003b7a;
}
#why-choose-us .data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 35px;
}
#why-choose-us .data-container .why-data .why-num {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 33px;
}
#why-choose-us .data-container .why-data .why-num h2 {
  margin-bottom: 0px;
}
#why-choose-us .data-container .why-data .why-data-tit {
  text-align: center;
  font-family: "Open-sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #bfddfe;
}
#why-choose-us .data-container .why-data .why-data-tit p {
  margin-top: 5px;
}
@media (min-width: 1024px) {
  #why-choose-us {
    padding: 20px 3%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #why-choose-us {
    padding: 20px 10%;
  }
  #why-choose-us .why-container-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #why-choose-us .why-container-cards .why-card {
    width: 100%;
  }
  #why-choose-us .data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #why-choose-us .data-container .why-data {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
}
@media (max-width: 767px) {
  #why-choose-us {
    padding: 20px 7%;
  }
  #why-choose-us .why-container-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #why-choose-us .why-container-cards .why-card {
    width: 100%;
  }
  #why-choose-us .data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #why-choose-us .data-container .why-data {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

#services {
  background-color: #ecf5ff;
  padding-top: 30px;
  padding-bottom: 70px;
  font-family: "Open-sans", sans-serif;
  padding: 20px 7%;
  box-shadow: 0px 0px 10px #707070;
}
#services .subtit {
  width: 45%;
  height: 60px;
  margin: auto;
  font-size: 15px;
  font-weight: 400;
  color: #556877;
  line-height: 22px;
  margin-top: -10px;
  text-align: center;
  letter-spacing: 0.1px;
  padding-bottom: 40px;
}
#services .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 88%;
  align-content: center;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}
#services .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: auto;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
#services .cards .card .card-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: -10px;
}
#services .cards .card .card-icon img {
  width: 56px;
  height: auto;
}
#services .cards .card .tit-card {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  margin-left: 75px;
}
#services .cards .card .tit-card:hover {
  color: #007bff;
  transition: all 0.3s;
}
#services .cards .card .card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #444444;
  margin-left: 75px;
  margin-top: -10px;
}
#services .cards .card:hover {
  transform: translateY(-7px);
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #services {
    padding: 20px 5%;
  }
  #services .subtit {
    width: 60%;
  }
}
@media (max-width: 767px) {
  #services {
    padding: 20px 10%;
  }
  #services .subtit {
    width: 90%;
  }
  #services .cards .card {
    width: 100%;
  }
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10%;
}

.portfolio-filter {
  background-color: #ecf5ff;
  width: 65px;
  border-radius: 20px;
  text-align: center;
  height: 33px;
  line-height: 33px;
  transition: background-color 0.5s ease;
}
.portfolio-filter:hover {
  background-color: #017bfe;
  transition: background-color 0.5s ease;
}

#portfolio-menu {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #portfolio-menu {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  #portfolio-menu {
    width: 30%;
  }
}

.portfolio-menu-anchor {
  text-decoration: none;
  font-family: "Open-sans", sans-serif;
  color: #017bfe;
  font-weight: 100;
  font-size: 12px;
}
.portfolio-menu-anchor:hover {
  color: #ffffff;
}

.portfolio-img {
  box-sizing: border-box;
  height: 250px;
  overflow: hidden;
  margin: 10px;
  position: relative;
}
.portfolio-img .img {
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-img .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .portfolio-img {
    max-width: 50%;
  }
}
@media (min-width: 1024px) {
  .portfolio-img {
    max-width: 30%;
  }
}

.portfolio-info {
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 49, 102, 0.5);
  border-radius: 8px;
}
.portfolio-info h4 {
  margin: 0;
}
.portfolio-info p {
  text-align: center;
  color: #ffffff;
  font-family: "Open-sans", sans-serif;
}
.portfolio-info div {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.portfolio-info div span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #017bfe;
  text-align: center;
  cursor: pointer;
}
.portfolio-info div span:hover {
  background-color: #3495fe;
  transition: background-color 0.5s ease;
}
.portfolio-info div .fas:before {
  font-size: 17px;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
}
.portfolio-info:hover {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.port-name {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}
.port-name:hover {
  color: #017bfe;
  transition: color 0.5s ease-in-out;
}

#portfolio-wrap {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #portfolio-wrap {
    flex-wrap: wrap;
    margin: 15px;
    height: 1400px;
  }
}
@media (min-width: 1024px) {
  #portfolio-wrap {
    flex-flow: row wrap;
    justify-content: center;
    margin: 30px;
    height: 1000px;
  }
}

#testimonials {
  background-color: #ecf5ff;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}
#testimonials h1 {
  margin-top: 0;
}
@media (min-width: 1024px) {
  #testimonials {
    height: 388px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #testimonials {
    height: 388px;
  }
}

#test-cont {
  padding-top: 60px;
  padding-bottom: 60px;
}

.slider-container {
  overflow: hidden;
  box-sizing: border-box;
  width: 300px;
  height: 400px;
  margin-left: 15px;
  margin-right: 15px;
  display: block;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .slider-container {
    width: 700px;
    height: 300px;
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (min-width: 1024px) {
  .slider-container {
    width: 900px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

.sliders {
  width: 500%;
  height: 300px;
  display: inline-flex;
  transition: transform 600ms ease-in-out;
  box-sizing: border-box;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .sliders {
    height: 200px;
  }
}
@media (min-width: 1024px) {
  .sliders {
    display: flex;
    height: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .test-info {
    width: 75%;
  }
}
@media (min-width: 1024px) {
  .test-info {
    width: 80%;
    margin-left: 20px;
  }
}

.slider-testimonials {
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .slider-testimonials {
    display: flex;
    height: 220px;
    justify-content: space-between;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .slider-testimonials {
    display: flex;
    height: 205px;
    text-align: left;
  }
}
.slider-testimonials .slider-name {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 5px;
}
.slider-testimonials .slider-charge {
  font-size: 14px;
  color: #999999;
  font-family: "Montserrat", sans-serif;
  margin-top: 0px;
  font-weight: 400;
  margin-bottom: 15px;
}
.slider-testimonials .slider-info {
  font-style: italic;
  font-family: "Open-sans", sans-serif;
  color: #444;
  font-size: 16px;
  line-height: 25px;
}

.test-img {
  width: 142px;
  height: 142px;
  border: 4px solid #ffffff;
  border-radius: 50%;
}

#radio1 {
  display: none;
}
#radio1:checked ~ .sliders {
  transform: translateX(0);
}
#radio1:checked#rad1 {
  background-color: #007bff;
}

#radio2 {
  display: none;
}
#radio2:checked ~ .sliders {
  transform: translateX(-20%);
}
#radio2:checked #rad2 {
  background-color: #007bff;
}

#radio3 {
  display: none;
}
#radio3:checked ~ .sliders {
  transform: translateX(-40%);
}
#radio3:checked #rad3 {
  background-color: #007bff;
}

#radio4 {
  display: none;
}
#radio4:checked ~ .sliders {
  transform: translateX(-60%);
}
#radio4:checked + .btn {
  background-color: #007bff;
}

#radio5 {
  display: none;
}
#radio5:checked ~ .sliders {
  transform: translateX(-80%);
}
#radio5:checked + .btn {
  background-color: #007bff;
}

.testimonials-nav {
  text-align: center;
  background: #ecf5ff;
}

.btn {
  background-color: #dddddd;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}

#botones-slider {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  #botones-slider {
    transform: translateY(86px);
  }
}

#team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-sub {
  font-family: "Open-sans", sans-serif;
  font-size: 15px;
  text-align: center;
  padding-bottom: 0px;
  color: #556783;
  font-weight: 400;
  text-align: center;
  margin-top: 0px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .team-sub {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .team-sub {
    width: 80%;
  }
}

#team-wrap {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #team-wrap {
    flex-flow: column wrap;
    height: 444px;
    width: 40%;
    justify-content: center;
    margin-bottom: 70px;
  }
}
@media (min-width: 1024px) {
  #team-wrap {
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    height: 300px;
    align-items: flex-start;
  }
}

.team-img {
  box-sizing: border-box;
  max-width: 100%;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
.team-img .team-foto {
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-img .team-foto img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .team-img {
    max-width: 50%;
    margin: 5px;
  }
}
@media (min-width: 1024px) {
  .team-img {
    max-width: 20%;
  }
}

.team-info {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 62, 128, 0.7);
  border-radius: 50%;
}
.team-info h3 {
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  width: 67%;
}
.team-info h4 {
  margin: 0;
  color: #ffffff;
  font-size: 13px;
  font-family: "Open-sans", sans-serif;
  font-style: italic;
  font-weight: 300;
}
.team-info div {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-top: 10px;
}
.team-info div .fab:before {
  font-size: 17px;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
}
.team-info:hover {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.media:hover .fab:before {
  color: #007bff;
}

#clients {
  background-color: #ecf5ff;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.client-logo {
  background-color: #ffffff;
  border: 1px solid #ecf5ff;
  width: 90%;
  height: 160px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.client-logo img {
  width: 70%;
  object-fit: contain;
  transition: transform 0.5s ease-in-out;
}
.client-logo img:hover {
  transform: scale(1.2);
}
@media (min-width: 768px) and (max-width: 1023px) {
  .client-logo {
    width: 35%;
  }
}
@media (min-width: 1024px) {
  .client-logo {
    width: 25%;
  }
}

.clients-wrap {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .clients-wrap {
    flex-flow: column wrap;
    height: 500px;
    width: 95%;
  }
}
@media (min-width: 1024px) {
  .clients-wrap {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 300px;
    margin: auto;
  }
}

#info-cols {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #info-cols {
    display: flex;
    flex-flow: column wrap;
  }
}
@media (min-width: 1024px) {
  #info-cols {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 500px;
  }
}

#ctc-col2 {
  width: 100%;
}
@media (min-width: 1024px) {
  #ctc-col2 {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
  }
}

#map {
  width: 90%;
  height: 400px;
  background-color: grey;
}
@media (min-width: 1024px) {
  #map {
    width: 50%;
  }
}

.ctc-info {
  font-size: 14px;
  font-family: "Open-sans", sans-serif;
  color: #273c50;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-left: 15px;
  text-align: left;
  line-height: 28px;
  margin-top: 0;
}

.fa-map-marker-alt:before, .fa-envelope:before, .fa-phone-alt:before {
  color: #007bff;
  font-size: 28px;
}

#send-msg {
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  font-family: "Open-sans", sans-serif;
  font-size: 16px;
  text-align: center;
  width: 150px;
  height: 32px;
  color: #ffffff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
#send-msg:hover {
  background-color: #0062cc;
  transition: background-color 0.3s ease;
}

.ctc-form {
  display: block;
  width: 90%;
  box-sizing: border-box;
  font-family: "Open-sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin: auto;
  margin-bottom: 16px;
  padding-left: 15px;
  padding-top: 3px;
  border: 1px solid #cccccc;
}

form {
  margin: auto;
  width: 100%;
  text-align: center;
}
@media (min-width: 1024px) {
  form {
    margin-top: 0;
  }
}

#ctc-direction {
  display: inline-block;
  margin-left: 20px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #ctc-direction {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
}
@media (min-width: 1024px) {
  #ctc-direction {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.ctc-info-written {
  display: flex;
  height: 50px;
  justify-content: flex-start;
  margin-left: 15px;
  margin-top: 16px;
  margin-bottom: 16px;
}

footer {
  background-color: #004a99;
}
footer h1 {
  color: #ffffff;
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer h1 {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  footer h1 {
    text-align: left;
  }
}
footer p {
  color: #fff;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  line-height: 2;
}
footer h5 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-bottom: 30px;
}
footer a {
  text-decoration: none;
  color: #ecf5ff;
  font-family: "Open-sans", sans-serif;
}
footer form {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

#footer-desktop {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media (min-width: 1024px) {
  #footer-desktop {
    display: flex;
    flex-flow: column wrap;
    height: 300px;
    padding-bottom: 40px;
  }
}

.footer-info {
  width: 90%;
  display: flex;
  margin: auto;
  flex-direction: column;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .footer-info {
    flex-direction: row;
    height: 300px;
  }
}
@media (min-width: 1024px) {
  .footer-info {
    flex-flow: column wrap;
    width: 50%;
    height: 300px;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .title {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .title {
    width: 40%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .right {
    padding-left: 25px;
  }
}

@media (min-width: 1024px) {
  .desktop {
    width: 65%;
    padding-left: 40px;
    margin-right: 30px;
  }
}

@media (min-width: 1024px) {
  .desktop-2 {
    width: 30%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .bottom {
    margin-bottom: 50px;
  }
}

.ctc-media {
  background-color: #007bff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ctc-media:hover {
  background-color: #0062cc;
  transition: background-color 0.3s ease;
}
.ctc-media i {
  line-height: 40px;
}
.ctc-media ibefore {
  color: #ffffff;
}

.container-media {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container-media {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .container-media {
    width: 70%;
  }
}

.useful-menu {
  display: flex;
  flex-direction: column;
}
.useful-menu a {
  margin-bottom: 15px;
}

#subs-mail {
  border: none;
  padding-left: 6px;
  line-height: 30px;
  width: 65%;
}

.subs-but {
  background-color: #007bff;
  width: 35%;
  transition: background-color 0.3s ease;
  text-align: center;
  cursor: pointer;
  border: none;
  color: #fff;
  line-height: 30px;
  font-family: "Open-sans", sans-serif;
  font-size: 14px;
}
.subs-but:hover {
  background-color: #0062cc;
  transition: background-color 0.3s ease;
}

#copyright {
  background-color: #00254d;
  padding-top: 20px;
  padding-bottom: 20px;
}
#copyright h5 {
  font-weight: 400;
  text-align: center;
}
#copyright h6 {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Open-sans", sans-serif;
}
#copyright #button-web {
  display: inline;
  opacity: 1;
}
#copyright #button-web .up {
  position: fixed;
  bottom: 13px;
  right: 12px;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #007bff;
  z-index: 1;
}
#copyright #button-web .up i {
  position: absolute;
  bottom: 16px;
  right: 15px;
  color: #ffffff;
}

/*# sourceMappingURL=styles.css.map */
